<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sintakses Stupors</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link rel="apple-touch-icon" href="~/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="bg-neutral-100">
    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>